img{
    width: 600px;
    height: 400px;
}
*{
    padding: 10px;
    margin: 0;
    
}

.flex-container {
    display: flex;
    background-color: rgb(220, 242, 224);
    padding: 40px;
    margin: 50px;
  }
  
.flex-container > div {
    background-color: rgb(233, 232, 222);
    margin: 40px;
    padding: 30px;
    font-size: 30px;
  }

  iframe{
      text-align: center;
  }

  @media only screen and (max-width: 600px) {
      body{
          background-color: aquamarine;
      }
  }

  form{
      text-align: center;
  }

  .container{
      text-align: center;
  }

  h1{
      text-align: center;
      
  }

  
p{
    text-align: left;
    font-size: 300px;
    
}

header{
   background-color:   #26282C;
}

div{
    text-align: center;
}

#nav-link{
    padding: 10px;
}

nav{
    float: right;
}

#header-img{
width: 50px;
height: 50px;
}

#submit{
    background: red;
    color: white;
}

